{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!
{% endblock %}

{% block content %}
	{% for team in teams %}
		<div class="row d-flex featurette mt-5 justify-content-center">

			{# mettre un bouton de retour en arriere sur les zoom #}
			<div class="col-md-12">
				<h2 class="featurette-heading">{{ team.name }}<br>
					<span class="text-muted">{{ team.role }}</span>
				</h2>
				{% if (team.header == 1) %}
						<img class="teamimg mt-4"  src="/uploads/{{ team.illustration }}" width="400"/>
				{% endif %}
				<p class="lead">{{ team.description }}</p>
			</div>

			<div class="col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-2 d-flex justify-content-center imgzoom">
					<img class="teamimg"  src="/uploads/{{ team.gallery }}" width="400"/>
			</div>
			<div class="col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-2 d-flex justify-content-center imgzoom">
					<img class="teamimg"  src="/uploads/{{ team.gallery2 }}" width="400"/>
			</div>
			<div class="col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-2 d-flex justify-content-center imgzoom">
					<img class="teamimg "  src="/uploads/{{ team.gallery3 }}" width="400"/>

			</div>
			<div class="col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-2 d-flex justify-content-center imgzoom">
					<img class="teamimg"  src="/uploads/{{ team.gallery4 }}" width="400"/>
			</div>
			<hr class="featurette-divider">

		</div>
	{% endfor %}


{% endblock %}
