{% extends 'base.html.twig' %}

{% block title %}Mon compte - Nordic Indiana{% endblock %}

{% block content %}
<h1>Mon compte</h1>
{% if  is_granted("ROLE_ADMIN") %}
- <a href="/admin">Vous êtes un administrateur, accéder au backoffice</a>.<br> 
{% endif %}
Bienvenue {{ app.user.firstname }} dans votre compte.<br> C'est ici que vous allez pouvoir gérer vos informations personnelles. 
<hr>

<div class="row justify-content-center">
    <div class="col-md-2 bg-info bg-gradient p-3 m-2 font-weight-bold text-center">
        <div class="account-item ">
            <img src="{{ asset('assets/images/icons8.png') }}" alt="Modifier mon mot de passe" ><br>
            <a href="{{ path('app_account_password')}}" class=" text-light">Modifier mon mot de passe</a>
        </div>
    </div>
    <div class="col-md-2 bg-info bg-gradient m-2 p-3 font-weight-bold  text-center">
        <div class="account-item">
            <img src="{{ asset('assets/images/icons9.png') }}" alt="Gérer mes adresses" ><br>            
            <a href="{{ path('app_account_address')}}" class=" text-light">Gérer mes adresses</a>
        </div>
    </div>
    <div class="col-md-2 bg-info bg-gradient p-3 m-2 font-weight-bold  text-center">
        <div class="account-item">
            <img src="{{ asset('assets/images/icons7.png') }}" alt="mes commandes"><br>
            <a href="{{ path('app_account_order')}}" class="text-light">mes commandes</a>
        </div>
    </div>
        <div class="col-md-2 bg-info bg-gradient p-3 m-2 font-weight-bold  text-center">
        <div class="account-item">
            <img src="{{ asset('assets/images/iconComment.png') }}" alt="mes commentaires"><br>
            <a href="{{ path('app_let_comment')}}" class="text-light">Laissez nous un commentaires</a>
        </div>
    </div>
</div>
<hr>
{% endblock %}
{# <a target="_blank" href="https://icons8.com/icon/AnpUayREmNam/adresse">Adresse</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> #}