
					<div class="tab-pane fade pagination-link " id="contact-{{ product.id }}" role="tabpanel" aria-labelledby="contact-tab">
						<div class="comments-list" >
							{% for comments in commentsByProduct %}
								{% if (comments[0] == product.id) %}
									{% for comment in comments[1] %}
										{# {% if (comment[0] == comments[2]) %} #}
										<h2 class="col-md-12 text-center fw-bolder "id="top-{{ product.id }}-top">{{comment[1].author}}</h2>
											<div class= "d-flex mt-3 justify-content-center p-4">
												
												<div class="gallery-item col-md-5 d-block">
													<img src="/uploads/comments/{{ comment[1].illustration }}" class="mb-2" alt="test3">
												</div>
												<div class="col-md-5 d-block">{{comment[1].comment}}</div>
											</div>

											<hr>
										{# {% endif %} #}
									{% endfor %}
								{% endif %}
							{% endfor %}
						</div>
						<a href="#top-{{ product.id }}-top" role="btn btn-block">Revenir en haut</a>
					</div>
