{% extends 'base.html.twig' %}

{% block title %}Activités avec nos chiens nordiques
{% endblock %}

{% block content %}
{% for product in products %}
	

<h1 class="text-center">{{ product.name}}</h1>
<div class="row"> 
	<div class="col-lg-2 col-sm-12 container d-flex flex-column justify-content-center">
		<div class="mt-5 actiGal">
			<img src="/uploads/{{ product.gallery }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="mt-5 actiGal">
			<img src="/uploads/{{ product.gallery2 }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="mt-5 actiGal">
			<img src="/uploads/{{ product.gallery3 }}" alt="{{ product.name }}" class="img-fluid">
		</div>

	</div>

	<div class="col-lg-8 col-sm-12 mt-5">
 <p>{{ product.subtitle }}</p>
		<div class="col-md-8 mt-5">
			<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="col-12 my-auto">
			
			
			<hr>
			<p>{{ product.description|nl2br|raw }}
			</p>
		</div>
		<div class="container">
			<p class="actiTitle">Tarif :
			</p>
			<p>
				{{ product.rate|nl2br|raw }}
			</p>
		</div>
		<div class="container">
			<p class="actiTitle">Age :
			</p>
			<p>
				{{ product.age|nl2br|raw }}
			</p>
		</div>
		<div class="container">
			<p class="actiTitle">Lieu :
			</p>
			<p>
				{{ product.place|nl2br|raw }}
			</p>
		</div>
		{# <div class="col-md-12">
				        descriptif prix sur le site de base
				        </div> #}
	</div>
	<div class="d-flex flex-column ">
		<div class=" mt-5 actiGal">
			<img src="/uploads/{{ product.gallery4 }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="mt-5 actiGal">
			<img src="/uploads/{{ product.gallery5 }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="mt-5 actiGal">
			<img src="/uploads/{{ product.gallery6 }}" alt="{{ product.name }}" class="img-fluid">
		</div>
	</div>
</div>

  <div class="container mt-5">
    <p>Venez voir la meute complète et le paradis blanc :</p>
    <a href="{{ path('app_horde') }}" class="btn btn-primary btn-lg">La meute</a>
  </div>
{% endfor %}
{% endblock %}

