{% extends 'base.html.twig' %}

{% block content %}
{# {% include './components/_social.html.twig' %} #}
	<h1 class="text-center col-md-12 reveal">Bienvenue sur Nordic Indiana
	</h1>
  <div class="d-flex justify-content-center mt-5">
<img src="./assets/css/photos/logo.png" alt="icone de question" class="text-center">
</div>
	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="start d-flex justify-content-center ">
		<p class=" font-weight-bold text-center text-justify blockquote">Petits et grands trappeurs, venez réveiller votre âme sauvage
			en partageant des activités avec nos chiens de traîneau
			dans le territoire du Haut Bugey. <br>
			Petits et grands aventuriers avides de sensations et de découverte,
			des expériences nature d'initiation sportive vous attendent. <br>
			Je vous invite à découvrir les différentes activités
			dans les rubriques concernées,
			et à me contacter pour organiser votre aventure.  <br>
			Des événements thématiques vous seront régulièrement proposés. <br>
			Pensez à suivre Nordic Indiana sur Facebook, pour découvrir notre actualité, et les surprises qui vous seront réservées au gré des saisons.
		</p>
	</div>

  <div class="row mb-5">
  {% for product in products %}
    {% if product.isBest %}
    <h1 class="text-center col-md-12 reveal">Activité à la Une ! </h1>
      <div class="col-md-4 mt-5 reveal">
        {% include 'product/single_product.html.twig' %}
      </div>
    {% endif %}
  {% endfor %}

</div>
	<div class="cont-gallery" id="gallery">

		<div class="gallery">
			<div class="gallery-item">
				{% for image in images %}
					<img src="/uploads/{{ image.image }}" class="mb-2 galeryPict" alt="test" data-toggle="modal" data-target="#modal">
				{% endfor %}
			</div>
		</div>

		<div class="gallery">
			<div class="gallery-item">
				{% for image in images %}
					<img src="/uploads/{{ image.image2 }}" class="mb-2 galeryPict" alt="test2" data-toggle="modal" data-target="#modal">
				{% endfor %}
			</div>
		</div>

		<div class="gallery">
			<div class="gallery-item">
				{% for image in images %}
					<img src="/uploads/{{ image.image3 }}" class="mb-2 galeryPict" alt="test3" data-toggle="modal" data-target="#modal">
				{% endfor %}
			</div>
		</div>

	</div>

	<!-- Single Modal for all images -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center" id="modalLabel">Galerie Photos</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">

							{% for image in images %}
								<div class="carousel-item active ">
									<img src="/uploads/{{ image.image }}" class="d-block w-100 mt-2" alt="test">
									<button type="button" class="close bg-light p-1" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<img src="/uploads/{{ image.image2 }}" class="d-block w-100 mt-2" alt="test">
									<button type="button" class="close bg-light p-1" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<img src="/uploads/{{ image.image3 }}" class="d-block w-100 mt-2" alt="test">
									<button type="button" class="close  bg-light p-1" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
