<div class="container-fluid d-flex justify-content-center">
	<img src="/assets/css/photos/fondJerem.JPG" alt="Header Image" class="header-image">
</div>
<nav class="navbar navbar-expand-xl  navbar-light bg-light">
	<div class="container-fluid  ">
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="/assets/css/photos/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-top logo1">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="nav navCustom">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_team') }}">Qui-suis je?</a>
				</li>

				<li class="nav-item dropdown text-center">
					<div class="d-flex text-center justify-content-center">
						<a class="nav-link custom-nav-link" href="{{ path('app_products') }}">Activités</a>
						<a class="nav-link dropdown-toggle" href="#" id="galerieDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
					<ul class="dropdown-menu  justify-content-center" aria-labelledby="galerieDropdown">
						{% for acti in activity %}
							{% if acti.isDog == 1 %}


								<li class="nav-item d-flex align-items-center  custom-button">
									<img src="/assets/css/png/dog.png" width="30" height="24" alt="dog" class="d-inline-block ml-2">
									<a class="dropdown-item nav-link" href="{{ path('app_product', { 'slug' : acti.slug }) }}">{{ acti.name }}</a>
								</li>
							{% else %}
								<li class="nav-item custom-button">
									<a class="dropdown-item nav-link" href="{{ path('app_product', { 'slug' : acti.slug }) }}">{{ acti.name }}</a>
								</li>
							{% endif %}
						{% endfor %}
								<li class="nav-item d-flex align-items-center custom-button ">
									<img src="/assets/css/png/com.png" width="30" height="24" alt="dog" class="d-inline-block ml-2">
					
									<a class="nav-link  " href="{{ path('app_comments') }}">
										Témoignages
									</a>
								</li>
					</ul>
					</div>
				</li> 
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="galerieDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Galerie
					</a>
					<ul class="dropdown-menu" aria-labelledby="galerieDropdown">
						<li class="nav-item custom-button">
							<a class="nav-link" href="{{ path('app_gallery') }}">Photos</a>
						</li>
						<li class="nav-item custom-button">
							<a class="nav-link" href="{{ path('app_movie') }}">Vidéos</a>
						</li>

					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_partners') }}">Partenaires</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_game') }}">Jeux</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="backDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="/assets/css/png/membre.png" alt="Logo" class="d-inline-block ">
					</a>
					<ul class="dropdown-menu " aria-labelledby="backDropdown">
						{% if app.user %}
							<li class="nav-item custom-button">
								<a href="{{ path('app_account') }}" class="nav-link">Mon compte
									<small>({{ app.user.firstname}})</small>
								</a>
							</li>
							<li class="nav-item custom-button">
								<a href="{{ path('app_logout') }}" class="nav-link">Deconnexion</a>
							</li>
						{% else %}
							<li class="nav-item custom-button">
								<a href="{{ path('app_login') }}" class="mr-2 nav-link">Connexion</a>
							</li>
							<li class="nav-item custom-button">
								<a href="{{ path('app_register') }}" class="ml-2 nav-link">Inscription</a>
							</li>
						{% endif %}

					</ul>
				</li>

			</ul>
		</div>
	</div>
</nav>
